@media (min-width:320px) and (max-width:480px){
//Extend
    %footerDisplay{
    display:flex;
    justify-content:space-between;
    align-items:center;
    text-align:center
}

footer{ 
    height:3.5rem;
    background-color:$background_Nav_Footer;
    nav ul{@extend %footerDisplay;
                li{list-style: none; color:white; font-size: 0.5rem; margin-left:1.5rem;
                    a picture img{
                        width:3rem;
                        transition: all 680ms;
                        &:hover{ width:3rem; }}
                }}
    }
}

@media (min-width:481px) and (max-width:760px){
//Extend
%footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    text-align:center
}    
footer{ height:4.2rem;background-color: rgba(1, 81, 42, 0.507);
    nav ul{@extend %footer;
                li{list-style: none;color: white;
                    a picture img{
                         width:4rem;
                        transition: all 680ms;
                        &:hover{ width:3.5rem; }}}}
}
}

@media (min-width:761px) and (max-width:1024px){
//Extend
%Display{
    display:flex;
    justify-content:space-between;
    align-items:center;
    text-align:center
}
footer{ height:5rem; margin-top: 5rem;
    background-color:$background_Nav_Footer;
    nav ul{@extend %Display;
            li{list-style: none;
                 a picture img{
                        width:4.5rem;
                        transition: all 680ms;
                        &:hover{ width:4rem; background-color: rgba(240, 240, 240, 0.646);
                             padding: 0; border-radius: 60%;}}
                }}
    }
}

@media (min-width:1024px){
    //Extend
    %Dis{
        display:flex;
        justify-content:space-between;
        align-items:center;
        text-align:center
    }
    footer{ height:4rem; margin-top: 5rem;
        background-color:$background_Nav_Footer;
        nav ul{@extend %Dis;
                li{list-style: none; color:white;
                     a picture img{
                            width:4rem;
                            transition: all 900ms; font-size: 0.5rem;
                            &:hover{ width:3.8rem; background-color: rgba(240, 240, 240, 0.646);
                                 padding: 0; border-radius: 60%;}}
                    }}
        }
}