$background_Nav_Footer: rgba(1, 81, 42, 0.507);
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap');

//Letra de Titulos
$Titulo:'Ysabeau SC', sans-serif;

// Tamaño del titulo del Header
$title-phone:2rem;
$title-tablet:2.5rem;
$title-notebook:3.3rem;

//Tamaño del titulo de las Cards
$title_card_phone:2.5rem;

// Tamaño del Parrafo del Header
$parra-phone :1.2rem;
$parra-tablet :1.4rem;
$parra-Notebook :1.6rem;


